form.payment__form-form(data-validation)
  include ./global-form-inputs
  // для "перейти к оплате" добавить data-href на страницу оплаты
  button.btn.payment__form-btn(type="submit" data-href="payment.html") Перейти к оплате
  .payment__form-check
    input(type="checkbox" checked id="checkbox")
    label(for="checkbox") Согласен с условиями 
      a(href="privacy.html") Политики конфиденциальности