.modal.remodal(data-remodal-id="free-lesson")
  button.modal__close(data-remodal-action="close" aria-label="Закрыть модальное окно")
    +icon('close')
  .modal__wrap
    h4.modal__title Записаться на бесплатный урок
    include ./base-form