.payment__form-group.payment__form-select(data-placeholder="Выберите дату начала курса")
  .payment__form-icon
    +icon('date')
  .payment__form-select-arrow
    +icon('arrow-down')
  span.payment__form-select-active Выберите дату начала курса
  .payment__form-select-list
    button.payment__form-select-item(type="button") 01.08.2020
    button.payment__form-select-item(type="button") 01.09.2020
    button.payment__form-select-item(type="button") 01.10.2020
.payment__form-group
  .payment__form-icon
    +icon('email')
  input.payment__form-input(type="text" name="email" placeholder="Email" data-email="true" data-name="email")
.payment__form-group
  .payment__form-icon
    +icon('phone')
  input.payment__form-input(type="text" name="phone" placeholder="Телефон" data-phone data-name="phone")