nav.menu
  button.menu__item.js-scroll-to(href="#" data-href="#about") О курсе
  button.menu__item.js-scroll-to(href="#" data-href="#clients") Для кого курс?
  button.menu__item.js-scroll-to(href="#" data-href="#program") Программа
  button.menu__item.js-scroll-to(href="#" data-href="#reviews") Отзывы
  button.menu__item.js-scroll-to(href="#" data-href="#payment") Стоимость