.program__lectures-block
  .faq__list.program__lectures-mobile
    .faq__item
      h3.faq__item-title Менеджмент в интересах собственника
      .faq__content
        p Ты погрузишься в маркетплейс KazanExpress, узнаешь вектор развития компаниию. Узнаешь, как работают алгоритмы и какие показатели влияют на выдачу товаров. Поймешь как правильно выстроить основу своего бизнеса, какую юридическую форму выбрать и как раотать с партнерами.
    .faq__item
      h3.faq__item-title Менеджмент в интересах собственника 2
      .faq__content
        p Ты погрузишься в маркетплейс KazanExpress, узнаешь вектор развития компаниию. Узнаешь, как работают алгоритмы и какие показатели влияют на выдачу товаров. Поймешь как правильно выстроить основу своего бизнеса, какую юридическую форму выбрать и как раотать с партнерами.
  .program__lectures-wrap
    .program__lectures-tabs.wow.slideInLeft
      li.active Менеджмент в интересах собственника
      li Как правильно позиционировать свой бренд
      li Стратегическое планирование
      li Продвижение и фирменный стиль
      li Контроль качества коммуникаций
    .program__lectures-contents.wow.slideInRight
      .program__lectures-content.active
        h3.program__lectures-title Менеджмент в интересах собственника
        p.program__lectures-text Ты погрузишься в маркетплейс KazanExpress, узнаешь вектор развития компаниию. Узнаешь, как работают алгоритмы и какие показатели влияют на выдачу товаров. Поймешь как правильно выстроить основу своего бизнеса, какую юридическую форму выбрать и как раотать с партнерами.
      .program__lectures-content
        h3.program__lectures-title Как правильно позиционировать свой бренд
        p.program__lectures-text Ты погрузишься в маркетплейс KazanExpress, узнаешь вектор развития компаниию. Узнаешь, как работают алгоритмы и какие показатели влияют на выдачу товаров. Поймешь как правильно выстроить основу своего бизнеса, какую юридическую форму выбрать и как раотать с партнерами.
      .program__lectures-content
        h3.program__lectures-title Стратегическое планирование
        p.program__lectures-text Ты погрузишься в маркетплейс KazanExpress, узнаешь вектор развития компаниию. Узнаешь, как работают алгоритмы и какие показатели влияют на выдачу товаров. Поймешь как правильно выстроить основу своего бизнеса, какую юридическую форму выбрать и как раотать с партнерами.
      .program__lectures-content
        h3.program__lectures-title Продвижение и фирменный стиль
        p.program__lectures-text Ты погрузишься в маркетплейс KazanExpress, узнаешь вектор развития компаниию. Узнаешь, как работают алгоритмы и какие показатели влияют на выдачу товаров. Поймешь как правильно выстроить основу своего бизнеса, какую юридическую форму выбрать и как раотать с партнерами.
      .program__lectures-content
        h3.program__lectures-title Контроль качества коммуникаций
        p.program__lectures-text Ты погрузишься в маркетплейс KazanExpress, узнаешь вектор развития компаниию. Узнаешь, как работают алгоритмы и какие показатели влияют на выдачу товаров. Поймешь как правильно выстроить основу своего бизнеса, какую юридическую форму выбрать и как раотать с партнерами.