.program__slide
  .program__slide-wrap
    .program__slide-img
      img(src="https://via.placeholder.com/363x353" alt="Линар Хуснуллин")
    .program__slide-info
      .program__slide-header
        span.program__slide-name Линар Хуснуллин
        span.program__slide-count
      span.program__slide-desc Основатель KazanExpress
      ol.program__slide-list
        li Основатель самого быстрорастущего маркетплейса
        li Первый миллион заработал в 25 лет
        li Основатель самого быстрорастущего маркетплейса
      p.program__slide-text «Я расскажу вам как нам удалось построить самый быстрорастущий маркеплейс в Европе. Почему скоро мы станем самым крупным маркетплейсом в СНГ. И как вы можете зарабатывать вместе с KazanExpress» 