.modal.remodal(data-remodal-id="success")
  button.modal__close(data-remodal-action="close" aria-label="Закрыть модальное окно")
    +icon('close')
  .modal__wrap
    .modal__icon
      +icon('success')
    h4.modal__title Успешно
    p.modal__text Мы отправили уведомление с подробностями на указанные вами email.
    p.modal__success
      span.modal__success-desc Стоимость
      | 28 800 Руб.
    p.modal__success
      span.modal__success-desc Дата и время
      | 21 июль 2020, 18:00
    button.btn.modal__btn(type="button" data-remodal-action="close") Продолжить