extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	include ../section/hero
	include ../section/about
	include ../section/process
	include ../section/video
	include ../section/clients
	include ../section/program
	include ../section/advantages
	include ../section/faq
	include ../section/reviews
	include ../section/payment
	include ../modules/free-leson-modal
	include ../modules/free-leson-success-modal
	include ../modules/success-modal
	include ../modules/error-modal