// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Компоненты
@import "common/common.styl"

// Секции
@import 'section/header.styl'
@import 'section/hero.styl'
@import 'section/about.styl'
@import 'section/process.styl'
@import 'section/video.styl'
@import 'section/clients.styl'
@import 'section/program.styl'
@import 'section/advantages.styl'
@import 'section/faq.styl'
@import 'section/reviews.styl'
@import 'section/payment.styl'
@import 'section/payment/index.styl'
@import 'section/error.styl'
@import 'section/footer.styl'

