// ЦВЕТА

$tomato = #e53935
$bg = #fafafa
$black-10 = rgba(0, 0, 0, 0.1)
$black-24 = rgba(0, 0, 0, 0.24)
$black-38 = rgba(0, 0, 0, 0.38)
$black-54 = rgba(0, 0, 0, 0.54)
$gray-10 = #f5f5f5

// РАЗМЕРЫ

$breakpoint-lg = 1024px
$breakpoint-md = 768px
$breakpoint-sm = 480px

// ШРИФТЫ