.menu
  display flex
  @media (max-width $breakpoint-sm)
    flex-wrap wrap
    justify-content center

.menu__item
  font-size 14px
  line-height 1.71
  color rgba(255 255 255, 0.54)
  transition all .2s
  padding 10px
  cursor pointer
  background-color transparent
  &:hover
    color white
  @media (max-width $breakpoint-md)
    padding 10px 5px
  @media (max-width $breakpoint-sm)
    padding 5px