.modal
  max-width 460px
  padding 24px
  position relative
  border-radius 16px
  text-align left
  @media (max-width $breakpoint-sm)
    max-width 100%
    height 100%
    padding 16px
    border-radius 0

.remodal-wrapper
  @media (max-width $breakpoint-sm)
    padding 0

.modal__close
  width 24px
  height 24px
  background-color $black-24
  border-radius 50%
  position absolute
  right 24px
  top 24px
  cursor pointer
  .icon
    width 24px
    height 24px
    fill white
  @media (max-width $breakpoint-sm)
    background-color transparent
    right 8px
    top 8px
    width 36px
    height 36px
    .icon
      fill black
      width 36px
      height 36px

.modal__wrap
  @media (max-width $breakpoint-sm)
    padding-top 64px
    height 100%
    display flex
    flex-direction column
    .modal__btn
      margin-top auto

.modal__title
  font-size 28px
  font-weight bold
  line-height 1.36
  color #000000
  margin-bottom 24px
  max-width 80%

.modal__icon
  margin-bottom 24px
  .icon
    fill #00e0b2
    width 48px
    height 48px
  &--error
    .icon
      fill $black-24

.modal__text
  font-size 14px
  line-height 1.43
  color $black-54

.modal__success
  display flex
  align-items flex-end
  font-size 14px
  line-height 1.86
  margin-top 20px
  &+&
    margin-top 0

.modal__success-desc
  color $black-38
  margin-right 70px
  width 88px

.modal__btn
  margin-top 36px
  width 100%