.header
  padding 19px 0

.header__wrap
  display flex
  align-items center
  justify-content space-between
  @media (max-width $breakpoint-lg)
    flex-wrap wrap
  @media (max-width $breakpoint-sm)
    justify-content flex-start

.header__burger
  width = 20px
  height = 2px
  translate = 4px
  bg = #fff

  cursor pointer
  display none
  flex-direction column
  background-color transparent
  &::before,&::after,span
    content ""
    display block
    width width
    height height
    background bg
  &::before
    margin-bottom translate
  &::after
    margin-top translate
    width 15px
  &.active
    span
      opacity 0
    &::before 
      margin-bottom 0
      transform translateY(2px) rotate(45deg)
    &::after 
      margin-top 0
      width 20px
      transform translateY(-2px)  rotate(-45deg)
  @media (max-width $breakpoint-sm)
    display flex

.header__logo
  flex none
  @media (max-width $breakpoint-sm)
    max-width 140px
    margin-left 18px
    margin-right auto

.header__menu
  @media (max-width $breakpoint-lg)
    order 2
    width 100%
  @media (max-width $breakpoint-md)
    margin-top 10px
  @media (max-width $breakpoint-sm)
    margin-top 0
    position absolute
    top -100%
    left 0
    right 0
    transition all .5s
    z-index 100
    .menu
      display block
      box-shadow 2px 5px 6px $black-10
    .menu__item
      display block
      background-color #fff
      width 100%
      padding 10px
      text-align left
      border-top 1px solid $black-24
      font-size 18px
    &.active
      top 70px

.header__actions
  display flex
  & > * + *
    margin-left 8px

.header__tg
  width 42px
  height 42px
  border-radius 10px
  background-color #29b6f6
  display flex
  align-items center
  justify-content center
  @media (max-width $breakpoint-sm)
    display none

.header__payment
  min-width 122px
  height 42px
  display flex
  align-items center
  justify-content center
  border-radius 10px
  background-color $tomato
  color white
  img
    margin-right 10px
  @media (max-width $breakpoint-sm)
    margin-right 6px
    min-width 100px
    height 32px
    font-size 12px
    img
      max-width 20px