.hero
  padding 104px 0 76px
  position relative
  min-height calc(100vh - 89px)
  @media (max-width $breakpoint-lg)
    padding 80px 0 60px
    min-height calc(100vh - 131px)
  @media (max-width $breakpoint-md)
    padding 60px 0
    min-height calc(100vh - 133px)
  @media (max-width $breakpoint-sm)
    min-height calc(100vh - 70px)

.hero__bg
  background url('../img/content/DSC02114.jpg') center  no-repeat
  background-size cover
  position absolute
  top -89px
  left 0
  bottom 0
  right 0
  z-index -1
  min-height calc(100% + 89px)
  &:after
    content ''
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index -1
    background-image linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.86) 28%, $black-24 100%)
  @media (max-width $breakpoint-lg)
    top -131px
    min-height calc(100% + 131px)
  @media (max-width $breakpoint-md)
    top -133px
    min-height calc(100% + 133px)
  @media (max-width $breakpoint-sm)
    top -70px
    min-height calc(100% + 70px)
    background-position 60% center


.hero__wrap
  display flex
  justify-content space-between
  @media (max-width $breakpoint-md)
    display block

.hero__info
  width 100%
  max-width 540px
  margin-right 10px
  @media (max-width $breakpoint-lg)
    max-width 55%
  @media (max-width $breakpoint-md)
    max-width 100%

.hero__title
  margin-bottom 20px
  color white
  @media (max-width $breakpoint-sm)
    max-width 230px
    margin-bottom 16px

.hero__subtitle
  font-size 24px
  line-height 1.5
  color white
  @media (max-width $breakpoint-lg)
    font-size 18px

.hero__actions
  display flex
  margin 48px 0
  @media (max-width $breakpoint-lg)
    display block
    margin 24px 0
  @media (max-width $breakpoint-sm)
    display flex
    margin-bottom 32px

.hero__actions-btn
  &+&
    margin-left 16px
  @media (max-width $breakpoint-lg)
    width 100%
    max-width 480px
    &+&
      margin-left 0
      margin-top 16px
  @media (max-width $breakpoint-sm)
    max-width 150px
    width auto
    &+&
      margin-left 8px
      margin-top 0

.hero__slider
  border-top 1px solid rgba(255, 255, 255, 0.24)
  padding-top 48px
  display flex
  @media (max-width $breakpoint-md)
    padding-top 32px

.hero__slider-slider
  flex auto
  max-width calc(100% - 72px)
  position relative
  .slick-dots
    position absolute
    left 20px
    bottom 10px
    display flex
    button
      width 6px
      height 6px
      border-radius 50%
      background-color rgba(255, 255, 255, 0.24)
      cursor pointer
    li.slick-active
      button
        background-color rgba(255, 255, 255, 0.54)
    li + li
      margin-left 4px

.hero__slide-wrap
  display flex
  justify-content space-between
  padding 12px 20px 26px
  background-color rgba(255, 255, 255, 0.12)
  font-weight 500
  @media (max-width $breakpoint-sm)
    display block
    padding-bottom 38px

.hero__slide-info
  font-size 16px
  line-height 1.5
  color white
  @media (max-width $breakpoint-lg)
    max-width 50%
  @media (max-width $breakpoint-sm)
    max-width 100%
    margin-bottom 10px

.hero__slide-title
  display block
  color white

.hero__slide-btn
  font-size 18px
  line-height 1.33
  color $tomato
  background-color transparent
  cursor pointer
  margin-top 13px

.hero__slider-arrow
  width 36px
  cursor pointer
  background-color rgba(255, 255, 255, 0.24)
  &.disabled
    cursor default
    background-color rgba(255, 255, 255, 0.12)
    .icon
      opacity 0.5
  &.prev
    border-top-left-radius 8px
    border-bottom-left-radius 8px
    &.disabled
      border-right 1px solid rgba(255, 255, 255, 0.12)
    .icon
      transform rotate(180deg)
  &.next
    border-top-right-radius 8px
    border-bottom-right-radius 8px
    &.disabled
      border-left 1px solid rgba(255, 255, 255, 0.12)
  .icon
    width 20px
    height 20px
    fill white