section.section-bg.about#about
  .container
    h2.title.about__title.wow.fadeIn Для чего нужна академия?
    p.subtitle.about__subtitle.wow.fadeIn После прохождения Академии вы почувствуете, что прошли 2 года предпринимательства за 5 дней и оказались на новом уровне.
    .about__wrap
      .about__info.wow.slideInLeft
        .about__director
          .about__director-img
            img(src="https://via.placeholder.com/140" alt="Линар Хуснуллин")
          .about__director-info
            span.about__director-name Линар Хуснуллин
            span.about__director-desc Основатель KazanExpress
        p.about__text "Для многих начинающих предпринимателей остро стоит вопрос: как мне стать таким же большим как известные бренды? Чтобы ответить на этот вопрос мы придумали Академию KazanExpress. Каждый новый день Академия будет отвечать на вопросы, делая это системно и профессионально."
      .about__img.wow.slideInRight
        img(src="app/img/content/about.png" srcset="app/img/content/about@2x.png 2x, app/img/content/about@3x.png 3x")
