section.advantages#advantages
  .container
    h2.title.advantages__title.wow.fadeIn Что ты получишь по окончании курса
    .advantages__list
      .advantages__item.wow.slideInUp
        span.advantages__num >60
        p.advantages__text Дней будут заряжены новыми идеями и инсайтами
      .advantages__item.wow.slideInUp
        span.advantages__num 19
        p.advantages__text Управленческих методик и техник будут изучены
      .advantages__item.wow.slideInUp
        span.advantages__num 13
        p.advantages__text Типичных ошибок руководителя будут обработаны
      .advantages__item.wow.slideInDown
        span.advantages__num 27
        p.advantages__text Проблемных ситуаций будут разобраны в коллективе
      .advantages__item.wow.slideInDown
        span.advantages__num на 100
        p.advantages__text Процентов преодолеешь профессиональное выгорание
      .advantages__item.wow.slideInDown
        span.advantages__num >12
        p.advantages__text Инструментов будут внедрены в работу