section.clients#clients
  .container.border-block
    .clients__wrap
      .clients__info.wow.slideInLeft
        h2.title.clients__title Для кого этот курс
        p.clients__subtitle 80% проблем свзяано с незнанием основ ведения бизнеса. Теперь у вас есть возможность получить эти знания, которые не преподают в школах, техникумах, университетах.
      .clients__list.wow.slideInRight
        .clients__item
          .clients__img
            img(src="app/img/content/clients-1.jpg" srcset="app/img/content/clients-1@2x.jpg 2x, app/img/content/clients-1@3x.jpg 3x")
          p.clients__text <b>Сотрудники по найму</b>, желающие начать свое дело.
        .clients__item
          .clients__img
            img(src="app/img/content/clients-2.jpg" srcset="app/img/content/clients-2@2x.jpg 2x, app/img/content/clients-2@3x.jpg 3x")
          p.clients__text <b>Начинающие предприниматели</b>, которые хотят повысить свой уровень.
        .clients__item
          .clients__img
            img(src="app/img/content/clients-3.jpg" srcset="app/img/content/clients-3@2x.jpg 2x, app/img/content/clients-3@3x.jpg 3x")
          p.clients__text <b>Продавцы</b>, которые хотят систематизировать свои знания и применить их в бизнесе
        .clients__item
          .clients__img
            img(src="app/img/content/clients-4.jpg" srcset="app/img/content/clients-4@2x.jpg 2x, app/img/content/clients-4@3x.jpg 3x")
          p.clients__text <b>Предприниматели</b>, которые хотят увеличить свои доходы.