section.faq.section-bg#faq
  .container
    h2.title.faq__title.wow.fadeIn Часто задаваемые вопросы
    .faq__list
      .faq__item.wow.slideInLeft
        h3.faq__item-title Для продавцов каких категорий подходит этот курс?
        .faq__content
          p Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola, body muscles and holding ones own breath. Though, most of these notes are not fundamentally necessary, they are such that you can use them for a good laugh, at a drinks party or for picking up women or men.
          p 1) Coca-Cola: Did you know that its original colour was green?
          p Для продавцов каких категорий подходит этот курс?
      .faq__item.wow.slideInRight
        h3.faq__item-title Когда можно начать обучение?
        .faq__content
          p Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola, body muscles and holding ones own breath. Though, most of these notes are not fundamentally necessary, they are such that you can use them for a good laugh, at a drinks party or for picking up women or men.
          p 1) Coca-Cola: Did you know that its original colour was green?
          p Когда можно начать обучение?
      .faq__item.wow.slideInLeft
        h3.faq__item-title Сколько длится обучение на курсе?
        .faq__content
          p Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola, body muscles and holding ones own breath. Though, most of these notes are not fundamentally necessary, they are such that you can use them for a good laugh, at a drinks party or for picking up women or men.
          p 1) Coca-Cola: Did you know that its original colour was green?
          p Сколько длится обучение на курсе?
      .faq__item.wow.slideInRight
        h3.faq__item-title Для продавцов каких категорий подходит этот курс?
        .faq__content
          p Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola, body muscles and holding ones own breath. Though, most of these notes are not fundamentally necessary, they are such that you can use them for a good laugh, at a drinks party or for picking up women or men.
          p 1) Coca-Cola: Did you know that its original colour was green?
          p Для продавцов каких категорий подходит этот курс?
      .faq__item.wow.slideInLeft
        h3.faq__item-title Сколько длится обучение на курсе?
        .faq__content
          p Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola, body muscles and holding ones own breath. Though, most of these notes are not fundamentally necessary, they are such that you can use them for a good laugh, at a drinks party or for picking up women or men.
          p 1) Coca-Cola: Did you know that its original colour was green?
          p Сколько длится обучение на курсе?