footer.footer.section-bg
  .container
    include ../modules/footer-logo
    .footer__main
      .footer__menu
        include ../modules/menu
      include ../modules/footer-links
    .footer__bottom
      p ООО «Компания» 2020. Все права защищены
      a(href="privacy.html") Политика конфиденциальности