header.header
  .container
    .header__wrap
      button.header__burger(type="button" aria-label="Открыть меню")
        span
      a.header__logo(href="/")
        img.white(src="app/img/general/logo--white.svg" alt="KazanExpress white")
        img.black(src="app/img/general/logo.svg" alt="KazanExpress black")
      .header__menu
        include ../modules/menu
      .header__actions
        a.header__tg(href="#")
          img(src="app/img/general/tg.svg" alt="telegram icon")
        a.header__payment(href="payment.html")
          span Оплата