header.header
  .container
    .header__wrap
      a.header__logo(href="/")
        img(src="app/img/general/logo.svg" alt="KazanExpress")
      .header__menu
        include ../modules/menu
      .header__actions
        a.header__tg(href="#")
          img(src="app/img/general/tg.svg" alt="telegram icon")
        a.header__payment(href="#")
          img(src="app/img/general/rocket.svg" alt="rocket icon")
          span Оплата