section.process#process
  .container
    h2.title.process__title.wow.fadeIn Как проходит обучение
    p.subtitle.process__subtitle.wow.fadeIn Пройдя академию, ты точно сможешь ответить на вопросы зачем? что? и как? В&nbsp;результате ты получишь точный алгоритм действий по чек-листу
    .process__list
      .process__item.wow.slideInDown
        .process__img
          img(src="https://via.placeholder.com/80" alt="Обучение в г. Иннополис")
        .process__info
          span.process__name Обучение в г. Иннополис
          span.process__desc Один из крупнейших IT-парков страны
      .process__item.wow.slideInDown
        .process__img
          img(src="https://via.placeholder.com/80" alt="Предоставляется отель")
        .process__info
          span.process__name Предоставляется отель
          span.process__desc Со всем необходимым
      .process__item.wow.slideInDown
        .process__img
          img(src="https://via.placeholder.com/80" alt="10 спикеров-экспертов")
        .process__info
          span.process__name 10 спикеров-экспертов
          span.process__desc Действующие предприниматели, основатели KazanExpress
      .process__item.wow.slideInUp
        .process__img
          img(src="https://via.placeholder.com/80" alt="Реальная стоимость курса 60 000 руб.")
        .process__info
          span.process__name Реальная стоимость курса 60 000 руб.
          span.process__desc Остальное платит KazanExpress
      .process__item.wow.slideInUp
        .process__img
          img(src="https://via.placeholder.com/80" alt="Сначала Зачем? Потом что и как?")
        .process__info
          span.process__name Сначала Зачем? Потом что и как?
          span.process__desc Системный подход
      .process__item.wow.slideInUp
        .process__img
          img(src="https://via.placeholder.com/80" alt="Получишь реальные методики")
        .process__info
          span.process__name Получишь реальные методики
          span.process__desc Которые можно и нужно внедрять в работе
    .accent.accent--elems.wow.zoomIn
      .accent__info
        p Это не стандартный онлайн курс на котором зарабатывают, а настоящая академия. 
      button.btn.btn--white.accent__btn(type="button" data-remodal-target="free-lesson") Записаться на бесплатный урок
      