section.reviews#reviews
  .container.border-block
    h2.title.reviews__title.wow.fadeIn Отзывы продавцов
    .reviews__list
      .reviews__item.wow.slideInDown
        p.reviews__text « There’s a new hairstyle that seems to be sweeping Hollywood: what would you be willing to do to get it for yourself? How pleased would you be if getting the latest, hottest hair look were as simple as changing the styling products that you use?»
        .reviews__author
          .reviews__author-img
            img(src="https://via.placeholder.com/56" alt="")
          .reviews__author-info
            span.reviews__author-name Мария Алексеевна
            span.reviews__author-desc Магазин «Good Store», более 50 000 заказов
      .reviews__item.wow.slideInDown
        p.reviews__text « There’s a new hairstyle that seems to be sweeping Hollywood: what would you be willing to do to get it for yourself? How pleased would you be if getting the latest, hottest hair look were as simple as changing the styling products that you use?»
        .reviews__author
          .reviews__author-img
            img(src="https://via.placeholder.com/56" alt="")
          .reviews__author-info
            span.reviews__author-name Мария Алексеевна
            span.reviews__author-desc Магазин «Good Store», более 50 000 заказов
      .reviews__item.wow.slideInUp
        p.reviews__text « There’s a new hairstyle that seems to be sweeping Hollywood: what would you be willing to do to get it for yourself? How pleased would you be if getting the latest, hottest hair look were as simple as changing the styling products that you use?»
        .reviews__author
          .reviews__author-img
            img(src="https://via.placeholder.com/56" alt="")
          .reviews__author-info
            span.reviews__author-name Мария Алексеевна
            span.reviews__author-desc Магазин «Good Store», более 50 000 заказов
      .reviews__item.wow.slideInUp
        p.reviews__text « There’s a new hairstyle that seems to be sweeping Hollywood: what would you be willing to do to get it for yourself? How pleased would you be if getting the latest, hottest hair look were as simple as changing the styling products that you use?»
        .reviews__author
          .reviews__author-img
            img(src="https://via.placeholder.com/56" alt="")
          .reviews__author-info
            span.reviews__author-name Мария Алексеевна
            span.reviews__author-desc Магазин «Good Store», более 50 000 заказов