section.video#video
  .video__wrap
    .video__video
      video(src="app/img/general/videoplayback.mp4" loop)
    .video__info
      .video__icon
        +icon('play')
      span.video__text Посмотрите видео, чтобы узнать больше